


<div class="container-fluid mt-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Dashboard")" class="text-decoration-none">
                    <i class="bi bi-house-door"></i> Trở về trang chủ
                </a>
            </li>

        </ol>
    </nav>

    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h2 class="card-title">Danh sách lớp</h2>

            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="table-light">
                        <tr>
                            <th>Tên học viên</th>
                            <th>Địa chỉ Email</th>
                            <th>Điểm giữa kỳ</th>
                            <th>Điểm cuối kỳ</th>
                            <th>TBM</th>
                            <th>Thao tác</th>

                        </tr>
                    </thead>

                    <tbody>

                        <tr>
                            
                            <td>Nguyễn Văn Ánh</td>
                            <td>anh@gmail.com</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <form method="post" action="@Url.Action("Grade", "Class")" style="display:inline;">
                                    @* @Html.AntiForgeryToken() *@
                                   @*  <input type="hidden" name="Id" value="@course.Id" /> *@
                                    <button type="submit" class="btn btn-outline-primary">
                                        <i class="bi bi-pencil-square"></i> Chấm điểm
                                    </button>
                                </form>
                            </td>

                        </tr>
                        
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>