@{
    ViewData["Title"] = "Home Page";
}

<section id="intro">
    <div class="container lg-5">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-5 text-center text-md-start">
                <h1>
                    Welcome to my website
                    <div class="display-2">Black</div>
                    <div class="display-5 text-muted">Black-grey</div>
                </h1>
                <p class="lead my-4 text-muted">Lorem ipsum dolor sit amet.</p>
                <a href="" class="btn btn-secondary btn-lg">Buy now</a>
            </div>
            <div class="col-md-5 text-center">
                <img class="img-fluid"
                     src="https://images.unsplash.com/photo-1719937206168-f4c829152b91?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                     alt="book" />
            </div>
        </div>
    </div>
</section>

<!--  -->
<section id="pricing" class="bg-light mt-5">
    <div class="container-lg">
        <div class="text-center">
            <h2>Pricing Plans</h2>
            <p class="lead text-muted">Choose a pricing plan to suit you</p>
        </div>
        <!-- <div class="row my-5 align-items-center justify-content-center">
          <div class="col-8 col-lg-4 col-xl-3">
            <div class="card border-0">
              <div class="card-body text-center py-4">
                <h4 class="card-title">Starter Edition</h4>
                <p class="lead card-subtitle">Ebook only</p>
                <p class="display-5 my-4 text-primary fw-bold">$12.99</p>
                <p class="card-text mx-5 text-muted d-none d-lg-block">
                  Lorem ipsum dolor sit amet.
                </p>
                <a href="#" class="btn btn-outline-primary btn-lg mt-3"
                  >Buy now</a
                >
              </div>
            </div>
          </div>
        </div> -->

        <div class="row my-5 align-items-center justify-content-center g=0">
            <div class="col-8 col-lg-4 col-xl-3">
                <div class="card border-0">
                    <div class="card-body text-center py-4">
                        <h4 class="card-title">Starter Edition</h4>
                        <p class="lead card-subtitle">Ebook only</p>
                        <p class="display-5 my-4 text-primary fw-bold">$12.99</p>
                        <p class="card-text mx-5 text-muted d-none d-lg-block">
                            Lorem ipsum dolor sit amet.
                        </p>
                        <a href="#" class="btn btn-outline-primary btn-lg mt-3">Buy now</a>
                    </div>
                </div>
            </div>
            <div class="col-8 col-lg-4 col-xl-3">
                <div class="card border-primary border-1">
                    <div class="card-body text-center py-4">
                        <h4 class="card-title">Starter Edition</h4>
                        <p class="lead card-subtitle">Ebook only</p>
                        <p class="display-5 my-4 text-primary fw-bold">$12.99</p>
                        <p class="card-text mx-5 text-muted d-none d-lg-block">
                            Lorem ipsum dolor sit amet.
                        </p>
                        <a href="#" class="btn btn-outline-primary btn-lg mt-3">Buy now</a>
                    </div>
                </div>
            </div>
            <div class="col-8 col-lg-4 col-xl-3">
                <div class="card border-0">
                    <div class="card-body text-center py-4">
                        <h4 class="card-title">Starter Edition</h4>
                        <p class="lead card-subtitle">Ebook only</p>
                        <p class="display-5 my-4 text-primary fw-bold">$12.99</p>
                        <p class="card-text mx-5 text-muted d-none d-lg-block">
                            Lorem ipsum dolor sit amet.
                        </p>
                        <a href="#" class="btn btn-outline-primary btn-lg mt-3">Buy now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-5 align-items-center justify-content-center"></div>
</section>

