@{
    ViewData["Title"] = "Register Page";
}
<style>
    body {
        font-family: 'Inter', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    }
</style>

<main class="form-register" style="max-width: 400px; margin: auto;">
    <form>
        <img class="mb-4" src="~/logo.png" alt="" width="200" height="150" style="display: block; margin: auto;">
        <h1 class="h3 mb-3 fw-normal">Please your information</h1>

        <div class="form-floating mb-2">
            <input type="text" class="form-control" id="floatingName" placeholder="Nguyen Van A">
            <label for="floatingName">Tên</label>
        </div>


        <div class="form-floating mb-2">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-2">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
        <div class="form-floating mb-2">
            <input type="password" class="form-control" id="confirmPassword" placeholder="Re-Enter password">
            <label for="confirmPassword">Re Password</label>
        </div>

        
        <button class="w-100 btn btn-lg btn-primary mb-3" type="submit">Submit</button>
    </form>
</main>